<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    {% include navigation.html %}

    <section id="heading" class="heading">
        <section id="crossroad" class="bg-crossroad">
            <div class="container">
                <div id="title-crossroad" class="col-lg-12 text-center">
                    <span class="title-xl font-crossroad">CROSSROAD</span><p class="title-medium mt-n4 mb-n1">SCHOOL OF DISCIPLESHIP</p>
                </div>
            </div>
        </section>
        <div class="container mt-3">
            <div class="col-lg-12 text-left">
                <div class="text-center">
                    <img src="img/crossroad_banner.jpg" class="img-fluid"/>                    
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-12 text-left">
                <div class="text-center">
                  <h3 class="bible-passage mt-4"">"Do not be conformed to this world, but be transformed by the renewing of your minds."</h3>
                  <p class="lead bible-passage">Romans 12:2</p>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <div class="container mt-4">
            <div class="col-lg-12 text-left">
                <img src="img/crossroad_tagline.gif" />
                {% for section in page.contents[0].sections %}
                <p>{{section.text}}</p>
                {% endfor %}
            </div>
            <div class="container mt-3">
              <div class="row">
                <div class="col-6 col-md-4 mt-3">
                  <img src="img/crossroad-1/img1.jpg" class="img-fluid"/>
                </div>
                <div class="col-6 col-md-4 mt-3">
                  <img src="img/crossroad-1/img2.jpg" class="img-fluid"/>
                </div>
                <div class="col-6 col-md-4 mt-3">
                  <img src="img/crossroad-1/img3.jpg" class="img-fluid"/>
                </div>
                <div class="col-6 col-md-4 mt-3">
                  <img src="img/crossroad-1/img4.jpg" class="img-fluid"/>
                </div>
                <div class="col-6 col-md-4 mt-3">
                  <img src="img/crossroad-1/img5.jpg" class="img-fluid"/>
                </div>
                <div class="col-6 col-md-4 mt-3">
                  <img src="img/crossroad-1/img6.jpg" class="img-fluid"/>
                </div>
              </div>   
              </div>
            </div>
            <section class="bg-crossroad mt-3">
              <div class="container font-weight-medium">
                <div class="row">
                  <div class="col-lg-12 text-left uppercase">
                    <br/>
                    <h5><b>Requirements for Application</b></h5>
                    <ul>
                      <li><h5>General use of English (written and spoken)</h5></li>
                      <li><h5>Willingness and openness to be taught</h5></li>
                      <li><h5>Commitment to school assignments and weekly lectures</h5></li>
                      <li><h5>Already have an ongoing personal relationship with God</h5></li>
                    </ul>
                    <h5><b>Age</b>: 20 to 35 years old<br/></h5>
                    <h5><b>Duration</b>: 14th October to 16th December 2020<br/></h5>
                    <h5><b>Frequency</b>: Weekly (Wednesdays for 2 hours - via Zoom)<br/></h5>
                    <h5><b>Nationality</b>: All nationalities<br/></h5>
                    <h5><b>Cost</b>: Free<br/></h5>
                    * limited to 20 participants only - on first come, first serve basis<br/><br/></h5>
                    <h5>For more details, contact <a class="text-white" href="mailto:crossroad@dinedrc.org"><b>crossroad@dinedrc.org</b></a></h5><br/>
                  </div>
                </div>
                <!-- /.row -->
              </div>
            </section>
            <br />
            <div class="col-lg-12 text-center">
                <h2>Facilitators</h2>
                <div class="text-center">
                    <img src="img/lavinia.png" class="img-fluid pr-4 pl-4"/>
                    <img src="img/alicia.png" class="img-fluid pr-4 pl-4"/>
                </div>
            </div>            
            <div class="col-lg-12 text-center mt-4">
              <hr/>
              <div class= "container text-center">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary button-orange" data-toggle="modal" data-target="#exampleModal">
                  APPLY NOW
                </button>
                <hr/>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg mx-auto" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Apply Now!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-center">
                        <div class="resp-container">
                          {% include crossroad_form.html %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <section class="text-center mt-4">
              <h2>Testimonies</h2>
              <i>Read about a new generation of Jeremiah’s and Nehemiah’s that God is raising
through this school!  
</i>
              <hr/>
              {% include crossroad_testimonies.html %}
            </section>
            <!-- 
              <div class="col-lg-12 text-center mt-4">
              <h4>Contact Us</h4>
              <hr/>
            </div> -->
            <div class="text-center mt-4">
                <img src="img/lav_alicia_logo.jpg" class="img-fluid" width="300"/>        
            </div>
        </div>
    </section>   
    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>
